{{ define "main" }}

<style>
.hero-section {
    background-image: url("{{ .Site.Params.tracking.cloudinary_url }}{{ .Params.hero.background_img }}");
}
.tns-item {
        margin-top: 32px;
        width: 100% !important;
}
.eapps-instagram-feed-posts-slider-inner {
    width: 100% !important;
}
@media (min-width: 992px){
    .tns-item {
        margin-top: 0px;
    }
}
</style>

<div id="lzy-bk" class="flex flex-wrap bg-cover bg-bottom bg-no-repeat -mt-40 py-48 hero-section">
    <div class="flex flex-wrap w-5/6 md:w-2/3 max-w-5xl mx-auto">
        <div class="w-full lg:w-7/12">
                <h1 class='{{ partial "gCSS/type/heading.txt"}} text-white pb-4'>{{ .Params.hero.title }}</h1>
                <p class='{{ partial "gCSS/type/paragraph.txt"}} text-white pb-8'>{{ .Params.hero.paragraph_text | safeHTML }}</p>
                <a href="{{ .Params.hero.button_link }}" class='{{ partial "gCSS/button/default.txt"}} scroll'>
                    {{ .Params.hero.button_text }}
                </a>
        </div>
    </div>
</div>

<div id="history-of-west" class="flex flex-wrap w-5/6 md:w-2/3 max-w-6xl mx-auto pt-24 pb-20">
    <style>
        .history-of-west-district {
            background-image: url("{{ .Site.Params.tracking.cloudinary_url }}{{ .Params.history_of_west.img }}")
        }
    </style>
    <div id="lzy-bk" class="w-full md:w-1/2 bg-cover md:bg-contain bg-center md:bg-top bg-no-repeat py-24 sm:py-48 history-of-west-district">
        
    </div>
    <div class="w-full md:w-1/2 pt-12 md:pt-0 md:pl-12">
        <h6 class='{{ partial "gCSS/type/subtitle.txt"}}'>{{ .Params.history_of_west.subtitle }}</h6>
        <h2 class='{{ partial "gCSS/type/heading.txt"}} pb-5'>{{ .Params.history_of_west.title }}</h2>
        <p class='{{ partial "gCSS/type/paragraph.txt"}} pb-5'>{{ .Params.history_of_west.paragraph_text | safeHTML }}</p>
        <a href="{{ .Params.history_of_west.button_link }}" class='{{ partial "gCSS/button/default.txt"}} scroll'>
            {{ .Params.history_of_west.button_text }}
        </a>
    </div>
</div>

<div id="unique-office-spaces" class="flex flex-wrap flex-col-reverse md:flex-row w-5/6 md:w-2/3 max-w-6xl mx-auto pt-20 pb-24 md:pb-0">
    <div class="w-full md:w-1/2 pt-12 md:pt-0 md:pr-12">
        <h6 class='{{ partial "gCSS/type/subtitle.txt"}}'>{{ .Params.office_space_section.subtitle }}</h6>
        <h2 class='{{ partial "gCSS/type/heading.txt"}} pb-5'>{{ .Params.office_space_section.title }}</h2>
        <p class='{{ partial "gCSS/type/paragraph.txt"}} pb-5'>{{ .Params.office_space_section.paragraph_text | safeHTML }}</p>
        <a href="{{ .Params.office_space_section.button_link }}" class='{{ partial "gCSS/button/default.txt"}} scroll'>
            {{ .Params.office_space_section.button_text }}
        </a>
    </div>
    <style>
        .unique-office-spaces {
            background-image: url("{{ .Site.Params.tracking.cloudinary_url }}{{ .Params.office_space_section.img }}")
        }
    </style>
    <div id="lzy-bk" class="w-full md:w-1/2 bg-cover md:bg-contain bg-center md:bg-top bg-no-repeat py-24 sm:py-48 unique-office-spaces">
        
    </div>
</div>

<div id="downtown-loft-living" class="flex flex-wrap w-5/6 md:w-2/3 max-w-6xl mx-auto pt-20 pb-24">
    <style>
        .downtown-loft-living {
            background-image: url("{{ .Site.Params.tracking.cloudinary_url }}{{ .Params.loft_living_section.img }}")
        }
    </style>
    <div id="lzy-bk" class="w-full md:w-1/2 bg-cover md:bg-contain bg-center md:bg-top bg-no-repeat py-24 sm:py-48 downtown-loft-living">
        
    </div>
    <div class="w-full md:w-1/2 pt-12 md:pt-0 md:pl-12">
        <h6 class='{{ partial "gCSS/type/subtitle.txt"}}'>{{ .Params.loft_living_section.subtitle }}</h6>
        <h2 class='{{ partial "gCSS/type/heading.txt"}} pb-5'>{{ .Params.loft_living_section.title }}</h2>
        <p class='{{ partial "gCSS/type/paragraph.txt"}} pb-5'>{{ .Params.loft_living_section.paragraph_text | safeHTML }}</p>
        <a href="{{ .Params.loft_living_section.button_link }}" class='{{ partial "gCSS/button/default.txt"}} scroll'>
            {{ .Params.loft_living_section.button_text }}
        </a>
    </div>
</div>

<div class="w-full bg-color-e6e6e6">
    <div id="revitalizing-west" class="flex flex-wrap flex-col-reverse md:flex-row w-5/6 md:w-2/3 max-w-6xl mx-auto pt-20 pb-24">
        <div class="w-full md:w-1/2 pt-12 md:pt-0 md:pr-12">
            <h6 class='{{ partial "gCSS/type/subtitle.txt"}}'>{{ .Params.revitalizing_section.subtitle }}</h6>
            <h2 class='{{ partial "gCSS/type/heading.txt"}} pb-5'>{{ .Params.revitalizing_section.title }}</h2>
            <p class='{{ partial "gCSS/type/paragraph.txt"}} pb-5'>{{ .Params.revitalizing_section.paragraph_text | safeHTML }}</p>
            <a href="{{ .Params.revitalizing_section.button_link }}" class='{{ partial "gCSS/button/default.txt"}} scroll'>
                {{ .Params.revitalizing_section.button_text }}
            </a>
        </div>
        <style>
            .revitalizing-west {
                background-image: url("{{ .Site.Params.tracking.cloudinary_url }}{{ .Params.revitalizing_section.img }}")
            }
        </style>
        <div id="lzy-bk" class="w-full md:w-1/2 bg-cover md:bg-contain bg-center md:bg-top bg-no-repeat py-24 sm:py-48 revitalizing-west">
            
        </div>
    </div>
</div>

<style>
    .contact-west {
        background-image: url("{{ .Site.Params.tracking.cloudinary_url }}{{ .Params.contact_section.background_img }}")
    }
</style>

<div id="lzy-bk" class="flex flex-wrap w-full bg-contain bg-bottom bg-no-repeat contact-west">
    <div id="contact-west" class="flex flex-wrap w-5/6 md:w-2/3 max-w-6xl mx-auto pt-24 pb-24">
        <div class="w-full md:w-1/2 bg-contain bg-no-repeat md:pb-48 map-to-west-district">
            <noscript>
                <h6 class='{{ partial "gCSS/type/paragraph.txt"}} pb-8'>Enable Javascript to see a map to the West District Statesboro</h6>
            </noscript>
        <iframe class="google-map pb-6" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3366.9675622993!2d-81.78960548583824!3d32.44680300805819!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88fa40a8fa50439f%3A0x51654157afb5085b!2s91+S+College+St%2C+Statesboro%2C+GA+30458!5e0!3m2!1sen!2sus!4v1538203040929" width="100%" height="347" frameborder="0" style="border:0" allowfullscreen></iframe> 
        <h6 class='{{ partial "gCSS/type/subtitle.txt"}} pb-1'>{{ .Params.contact_section.map_area.title }}</h6>
        <p class='{{ partial "gCSS/type/paragraph.txt"}} pb-8'>{{ .Site.Data.global_data.address.street }}, {{ .Site.Data.global_data.address.city }}, {{ .Site.Data.global_data.address.state }}. {{ .Site.Data.global_data.address.zip }}</p>
        <h6 class='{{ partial "gCSS/type/subtitle.txt"}} pb-1'>{{ .Params.contact_section.contact_persons.title }}</h6>
        <p class='{{ partial "gCSS/type/paragraph.txt"}}'>{{ .Params.contact_section.contact_persons.michael_whitfield.name }} | {{ delimit .Params.contact_section.contact_persons.michael_whitfield.phone_numbers " - " }}</p>
        <p class='{{ partial "gCSS/type/paragraph.txt"}} pb-5'>{{ .Params.contact_section.contact_persons.everett_kennedy.name }} | {{ delimit .Params.contact_section.contact_persons.everett_kennedy.phone_numbers " - " }}</p>
        </div>
        <div class="w-full md:w-1/2 pt-12 md:pt-0 md:pl-12">
            <h6 class='{{ partial "gCSS/type/subtitle.txt"}}'>{{ .Params.contact_section.subtitle }}</h6>
            <h2 class='{{ partial "gCSS/type/heading.txt"}} pb-5'>{{ .Params.contact_section.title }}</h2>
            <p class='{{ partial "gCSS/type/paragraph.txt"}} pb-5'>{{ .Params.contact_section.paragraph_text | safeHTML }}</p>
            <form class="flex flex-wrap" action="/thank-you/" netlify-honeypot="field-for-coolguys" name="contact-form" method="POST" netlify>
                <input type="hidden" name="subject" value="New Submission from Website" />
                <div class="w-full">
                    <label class='font-neu-bold text-base'>Name*</label>
                    <input name="first-name" type="text" placeholder="My name is.." class='{{ partial "gCSS/input/text.txt"}}' required>
                </div>
                <div class="w-full">
                    <label class='font-neu-bold text-base'>Email*</label>
                    <input name="email" type="email" placeholder="My email is.." class='{{ partial "gCSS/input/text.txt"}}' required>
                </div>
                <div class="w-full">
                    <label class='font-neu-bold text-base'>Phone*</label>
                    <input name="phone" type="tel" placeholder="My phone number is.." class='{{ partial "gCSS/input/text.txt"}}' required>
                </div>
                <div class="w-full">
                    <label class='font-neu-bold text-base'>I'd like to know more about*</label>
                    <select class='{{ partial "gCSS/input/text.txt"}}' name="reason-for-contact" required>
                        <option value="none" selected disabled hidden> 
                            Select an Option 
                        </option> 
                        <option value="Office / Rental Leasing">Office / Rental Leasing</option>
                        <option value="Downtown Loft Leasing">Downtown Loft Leasing</option>
                        <option value="Investment Opportunities">Investment Opportunities</option>
                    </select>
                </div>
                <input type="text" name="field-for-coolguys" style="display:none" />
                <div class="pt-4 ml-auto">
                    <input type="submit" value="Let's go West" class='{{ partial "gCSS/button/default.txt"}} hover:cursor-pointer'>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="w-full bg-color-e6e6e6">
    <div id="follow-west-on-instagram" class="flex flex-wrap flex-col-reverse md:flex-row w-5/6 md:w-2/3 max-w-6xl mx-auto pt-20 pb-40">
        <div class="w-full md:w-1/2 pt-24 md:pt-0 md:pr-12">
            <h6 class='{{ partial "gCSS/type/subtitle.txt"}}'>{{ .Params.instagram_section.subtitle }}</h6>
            <h2 class='{{ partial "gCSS/type/heading.txt"}} pb-5'>{{ .Params.instagram_section.title }}</h2>
            <p class='{{ partial "gCSS/type/paragraph.txt"}} pb-5'>{{ .Params.instagram_section.paragraph_text | safeHTML }}</p>
            <a href="{{ .Site.Data.global_data.social.insta }}" target="_blank" class='{{ partial "gCSS/button/default.txt"}}'>
                {{ .Params.instagram_section.button_text }}
            </a>
        </div>
        <noscript>
            <h6 class='{{ partial "gCSS/type/paragraph.txt"}} pb-8'>Enable Javascript to see a gallery of our most recent Instagram posts.</h6>
        </noscript>
        <div class="w-full md:w-1/2 mx-auto main-carousel">
            <script src="https://apps.elfsight.com/p/platform.js" defer></script>
    <div class="elfsight-app-97a2fce4-1080-4b27-be88-e7ac6c506bd5"></div>
        </div>
    </div>
</div>

{{ end }}